/* --- Variables --- */

:root {
  --main: #26BF66;
  --light-accent: #59B7CC;
  --dark-accent: #7A616C;
  --light: #F4EFF2;
  --dark: #181821;
  --dark-trans: #18182199;
  --heading-font: 'Knewave', serif;
  --body-font: 'Oxygen', sans-serif;
  --breakpoint-1: 650px;
  --breakpoint-2: 1200px;
  --card-size: 250px;
  --bottom-margin: 0 0 15px 0;
  --bigger-margin: 0 0 30px 0;
  --box-shadow: 4px 4px 8px 0px #18182133;
  --box-shadow-top: 0 0 8px 0px #18182133;
  --box-shadow-inset: inset 0px 1px 4px 1px #181821;
  --default-radius: 8px;
  --border-radius: 8px;
}

/* --- Base --- */

* {
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
}

a {
  text-decoration: none;
}

/* --- Util --- */

.container {
  display: flex;
  width: 100%;
}

@media (min-width: 700px) {
  .container {
    max-width: var(--breakpoint-2);
  }
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 700px) {
  .container-center {
    max-width: var(--breakpoint-2);
  }
}

.container-col {
  display: flex;
  flex-direction: column;
  max-width: var(--breakpoint-2);
  margin: 0 auto;
}

/* --- Todo App --- */

.container-todo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

@media (min-width: 700px) {
  .container-todo {
    max-width: var(--breakpoint-1);
  }
}


/* --- Todo Item --- */

.container-todo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

@media (min-width: 700px) {
  .container-todo {
    max-width: var(--breakpoint-1);
  }
}